@model IEnumerable<ERPBO.Production.ViewModels.FaultyCaseViewModel>
@{
    int sl = 0;
}
<div class="row">
    <div class="col-md-12" style="overflow-y:scroll">
        <table class="table table-bordered table-sm table-responsive-lg table-striped text-sm">
            <thead class="btn-dark text-center">
                <tr>
                    <th>#SL</th>
                    <th>Problem Description</th>
                    <th>Problem Code</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    sl = sl + 1;
                    <tr>
                        <td class="text-center text-bold">@sl</td>
                        <td>@item.ProblemDescription</td>
                        <td class="text-center">@item.QRCode</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


