
@{
    ViewBag.Title = "QC QRCode Scanning";
}

<div class="row">
    <div class="col-md-12 text-sm">
        <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-qcPassscanning-tab" data-toggle="pill" href="#custom-tabs-one-qcPassscanning" role="tab" aria-controls="custom-tabs-one-qcPassscanning" aria-selected="true">Pass Scan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-scanning-tab" data-toggle="pill" href="#custom-tabs-two-scanning" role="tab" aria-controls="custom-tabs-two-scanning" aria-selected="true">Fail Scan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-qcPassQrCodes-tab" data-toggle="pill" href="#custom-tabs-two-qcPassQrCodes" role="tab" aria-controls="custom-tabs-two-qcPassQrCodes" aria-selected="true">Pass List</a>
                        @*QC-Pass QRCode List*@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-repairQrCodes-tab" data-toggle="pill" href="#custom-tabs-two-repairQrCodes" role="tab" aria-controls="custom-tabs-two-repairQrCodes" aria-selected="true">Fail List</a>
                        @*QRCode List in Repair*@
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-two-problems-tab" data-toggle="pill" href="#custom-tabs-two-problems" role="tab" aria-controls="custom-tabs-two-problems" aria-selected="true">Problem List</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                @Html.AntiForgeryToken()
                <div class="tab-content" id="custom-tabs-two-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-one-qcPassscanning" role="tabpanel" aria-labelledby="custom-tabs-one-qcPassscanning-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    QC Item Transfer By QR Code
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="control-label">Floor</label>
                                                @Html.DropDownList("ddlProductionFloorForQCPass", (IEnumerable<SelectListItem>)ViewBag.ddlProductionFloor, "--- Select Floor ---", new { @class = "form-control form-control-sm select2" })
                                            </div>
                                            <div class="col-md-4">
                                                <label for="ddlQCLineForQCPass" class="control-label font-weight-bold">QC Line</label>
                                                <select id="ddlQCLineForQCPass" class="form-control form-control-sm select2">
                                                    <option value="0">--Select QC--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-6">
                                                <h5 style="border-bottom:2px solid #70cf44">QR Code</h5>
                                                <div class="row">
                                                    <div class="col-md-12 mb-2">
                                                        <input type="text" id="txtItemQRCodeForQCPass" placeholder="SCAN ITEM BY QR CODE HERE" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-scanning" role="tabpanel" aria-labelledby="custom-tabs-two-scanning-tab">
                        <div class="row" style="margin-top:-15px">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    QC Item Transfer By QR Code
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top:-10px">
                                <div class="card card-navy">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="control-label">Floor</label>
                                                @Html.DropDownList("ddlProductionFloor", (IEnumerable<SelectListItem>)ViewBag.ddlProductionFloor, "--- Select Floor ---", new { @class = "form-control form-control-sm select2" })
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlQCLine" class="control-label font-weight-bold">QC Line</label>
                                                <select id="ddlQCLine" class="form-control form-control-sm select2">
                                                    <option value="0">--Select QC Line--</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlSubQC" class="control-label font-weight-bold">QC</label>
                                                @Html.DropDownList("ddlSubQC", (IEnumerable<SelectListItem>)ViewBag.ddlSubQC, "--- Select QC ---", new { @class = "form-control form-control-sm select2" })
                                                @*<select id="ddlSubQC" class="form-control form-control-sm select2">
                                                    <option value="0">--Select QC--</option>
                                                </select>*@
                                            </div>
                                            <div class="col-md-3">
                                                <label for="ddlRepairLine" class="control-label font-weight-bold">Repair Line</label>
                                                <select id="ddlRepairLine" class="form-control form-control-sm select2">
                                                    <option value="0">--Select Repair Line--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="row" style="margin-top:-15px">
                                            <div class="col-md-6">
                                                <h5 style="border-bottom:2px solid #70cf44">QR Code</h5>
                                                <div class="row">
                                                    <div class="col-md-12 mb-2">
                                                        <input type="text" id="txtItemQRCode" placeholder="SCAN ITEM BY QR CODE HERE" class="form-control" />
                                                    </div>
                                                </div>
                                                @*<div class="row hide">
                                                        <div class="col-md-12 mb-2">
                                                            <input type="text" id="txtProblemQRCode" placeholder="SCAN PROBLEM BY QR CODE HERE" class="form-control" />
                                                        </div>
                                                    </div>*@
                                                <div class="row">

                                                    <div class="col-md-12">
                                                        <ul>
                                                            <li class="error hide floor">Floor is required</li>
                                                            <li class="error hide qc">QC Line is required</li>
                                                            <li class="error hide subqc">QC is required</li>
                                                            <li class="error hide repair">Repair is required</li>
                                                            <li class="error hide qrCode">QRCode is required</li>
                                                            <li class="error hide invalid-qrCode">Invalid QRCode</li>
                                                            <li class="error hide prob-notFound">Add Problems</li>
                                                            <li class="error hide qc-not-for-pdn">This QRCode is not belongs to this Floor</li>
                                                            <li class="error hide duplicate-QrCode">This QRCode already has been transfered</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="button" class="btn btn-sm btn-lg btn-flat btn-primary" id="btnSubmit">
                                                            <i class="fas fa-paper-plane"></i> SUBMIT
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 style="border-bottom:2px solid #ee4f4f">PROBLEMS</h5>
                                                <div class="row">
                                                    @*<div class="col-md-6 mb-2">
                                                            <input type="text" id="txtItemQRCode" placeholder="SCAN ITEM BY QR CODE HERE" class="form-control" />
                                                        </div>*@
                                                    <div class="col-md-12 mb-2">
                                                        <input type="text" id="txtProblemQRCode" placeholder="SCAN PROBLEM BY QR CODE HERE" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <table class="table table-sm table-bordered table-striped table-responsive-lg" id="tblProb">
                                                            <thead class="btn-dark">
                                                                <tr class="text-center text-bold">
                                                                    <th style="width:10%">#SL</th>
                                                                    <th style="width:75%">Problems</th>
                                                                    <th style="width:15%">Action</th>
                                                                    <th class="hide"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="card-body">
                                            <div class="row" style="margin-top:-15px">
                                                <div class="col-md-4" style="border-right:2px solid #f6eaaa">
                                                    <h5 style="border-bottom:2px solid #46824d ">                                           QC  Pass</h5>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" id="txtItemQRCode" class="form-control text-bold" placeholder="Enter IMEI Here" style="border-radius:0" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <h5 style="border-bottom:2px solid #e03c3c">QC Fail</h5>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input type="text" id="txtItemQRCode" class="form-control text-bold" placeholder="Enter IMEI Here" style="border-radius:0" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text" id="txtProblemQRCode" class="form-control text-bold" placeholder="Enter Problem Here" style="border-radius:0" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 mt-2">
                                                            <table class="table table-sm table-bordered table-striped table-responsive-lg" id="tblProb">
                                                                <thead class="btn-dark">
                                                                    <tr class="text-center text-bold">
                                                                        <th style="width:10%">#SL</th>
                                                                        <th style="width:75%">Problems</th>
                                                                        <th style="width:15%">Action</th>
                                                                        <th class="hide"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 mt-2">
                                                            <ul>
                                                                <li class="error hide invalid">This IMEI may has been transfered/Invalid</li>
                                                                <li class="error hide prob-notFound">This IMEI may has been transfered/Invalid</li>
                                                                <li class="error hide req-imei">Input IMEI!</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-sm btn-primary btn-flat float-right" id="btnSubmitQCFail">
                                                Submit <i class="fas fa-paper-plane"></i>
                                            </button>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-repairQrCodes" role="tabpanel" aria-labelledby="custom-tabs-two-repairQrCodes-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Pass To Repair
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12" id="dataContainer1">
                                                @{Html.RenderAction("GetQRCodeScanningInQC", new { @flag = "QRCodes" });}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-qcPassQrCodes" role="tabpanel" aria-labelledby="custom-tabs-two-qcPassQrCodes-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Pass To MiniStock
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12" id="dataContainer2">
                                                @{Html.RenderAction("GetQRCodeScanningInQC", new { @flag = "QCPass" });}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="custom-tabs-two-problems" role="tabpanel" aria-labelledby="custom-tabs-two-problems-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-gray-dark">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-3">
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="text-center text-bold">
                                                    Problem List
                                                </h5>
                                            </div>
                                            <div class="col-md-3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12" id="dataContainer3">
                                                @{Html.RenderAction("GetQRCodeScanningInQC", new { @flag = "Problems" });}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        // QCPass
        var ddlProductionFloorForQCPass = $("#ddlProductionFloorForQCPass");
        var ddlQCLineForQCPass = $("#ddlQCLineForQCPass");
        var txtItemQRCodeForQCPass = $("#txtItemQRCodeForQCPass");

        var ddlProductionFloor = $("#ddlProductionFloor");
        var ddlQCLine = $("#ddlQCLine");
        var ddlRepairLine = $("#ddlRepairLine");
        var txtItemQRCode = $("#txtItemQRCode");
        var txtProblemQRCode = $("#txtProblemQRCode");
        var problemsObj = []; // data obj
        var qrCodeDataObj = {};
        var ddlSubQC = $("#ddlSubQC");

        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            txtItemQRCode.focus();
            fnProblemsData();
        })

        //#region QCPass

        ddlProductionFloorForQCPass.change(function () {
            clearDropdown("ddlQCLineForQCPass");
            if (ddlProductionFloorForQCPass.val() != "") {
                LoadDropDown('/Common/GetQCByLine', 'POST', ddlQCLineForQCPass, JSON.stringify({ lineId: ddlProductionFloorForQCPass.val() }));
            }
        })
        function validateQRCodeForQCPass() {
            return ajaxBooleanChecker(JSON.stringify({ qrCode: $.trim(txtItemQRCodeForQCPass.val()) }), '/Common/IsExistInAssembly', getToken()) == true;
        }
        function validationFormForQCPass() {
            var isValid = true;
            $(".error").addClass("hide");
            if (TryParseInt(ddlProductionFloorForQCPass.val(), 0) <= 0) {
                toastrErrorAlert("Production Floor is Required!");
                isValid = false;
            }
            if (TryParseInt(ddlQCLineForQCPass.val(), 0) <= 0) {
                toastrErrorAlert("QC Line is Required!");
                isValid = false;
            }
            if ($.isEmptyObject(qrCodeDataObj) || qrCodeDataObj.Item <= 0) {
                toastrErrorAlert("Invalid QRCode");
                isValid = false;
            }
            else {
                if (TryParseInt(ddlProductionFloorForQCPass.val(), 0) > 0 && qrCodeDataObj.Floor != (TryParseInt(ddlProductionFloorForQCPass.val(), 0))) {
                    toastrErrorAlert("This QRCode is not belongs to this Floor");
                    isValid = false;
                }
            }
            if ($.trim(txtItemQRCodeForQCPass.val()) === "") {
                toastrErrorAlert("QRCode is required");
                isValid = false;
            }
            else {
                if (ajaxBooleanChecker(JSON.stringify({ qrCode: txtItemQRCodeForQCPass.val() }), '/Common/IsExistInAssembly', getToken()) === false) {
                    toastrErrorAlert("This QRCode already has been transfered");
                    isValid = false;
                    txtItemQRCodeForQCPass.val('');
                    txtItemQRCodeForQCPass.focus();
                }
            }
            return isValid;
        }
        txtItemQRCodeForQCPass.change(function () {
            qrCodeDataObj = {};
            if ($.trim(txtItemQRCodeForQCPass.val()) !== "") {
                if (validateQRCodeForQCPass()) {
                    var data = JSON.stringify({ qrCode: $.trim(txtItemQRCodeForQCPass.val()) });
                    $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/Common/GetQRCodeTraceByCodeAsync', data, getToken())).then(function (res, status) {
                        if (status === "success" && res.Item > 0) {
                            qrCodeDataObj = res;
                            if (validationFormForQCPass()) {
                                var info = { FloorId: TryParseInt(ddlProductionFloorForQCPass.val(), 0), QCLineId: TryParseInt(ddlQCLineForQCPass.val(), 0), QRCode: txtItemQRCodeForQCPass.val(), AssemblyLineId: qrCodeDataObj.Assembly, DescriptionId: qrCodeDataObj.Model, ItemId: qrCodeDataObj.Item, ItemTypeId: qrCodeDataObj.ItemType, WarehouseId: qrCodeDataObj.Warehouse };

                                var data = JSON.stringify({ model: info })

                                $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/Production/SaveQRCodeWiseQcItemTransfer', data, getToken())).then(function (res, status) {

                                    if (res.IsSuccess === true) {
                                        txtItemQRCodeForQCPass.val('');
                                        txtItemQRCodeForQCPass.focus();
                                        toastrSuccessAlert('Successfully Saved');
                                        LoadQCPassData();
                                    }
                                    else {
                                        bootbox.alert("This QrCode already has been transfered to MiniStock");
                                    }
                                }).fail(function (error) {
                                    console.log(error);
                                    bootbox.alert("Fail");
                                })
                            }
                            else {
                                txtItemQRCodeForQCPass.val('');
                                txtItemQRCodeForQCPass.focus();
                            }
                        }
                        else {
                            txtItemQRCodeForQCPass.val('');
                            txtItemQRCodeForQCPass.focus();
                        }
                    }).fail(function (error) {
                        console.log(error);
                    })
                }
                else {
                    txtItemQRCodeForQCPass.val('');
                    txtItemQRCodeForQCPass.focus();
                    toastrErrorAlert('QRCode may has been transfered')
                }
            }
        })
        //#endregion

        function validateQRCodeInRepair() {
            return ajaxBooleanChecker(JSON.stringify({ qrCode: $.trim(txtItemQRCode.val()) }), '/Common/IsExistInAssembly', getToken()) == true;
        }
        txtItemQRCode.change(function () {
            qrCodeDataObj = {};
            if ($.trim(txtItemQRCode.val()) !== "") {
                if (validateQRCodeInRepair()) {
                    var data = JSON.stringify({ qrCode: $.trim(txtItemQRCode.val()) });
                    $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/Common/GetQRCodeTraceByCodeAsync', data, getToken())).then(function (res, status) {
                        if (status === "success" && res.Item > 0) {
                            qrCodeDataObj = res;
                            txtProblemQRCode.val('');
                            txtProblemQRCode.focus();
                        }
                        else {
                            txtItemQRCode.val('');
                            txtItemQRCode.focus();
                        }
                    }).fail(function (error) {
                        console.log(error);
                    })
                }
                else {
                    txtItemQRCode.val('');
                    txtItemQRCode.focus();
                    //toggleAlert("");
                    toastrErrorAlert('QRCode may has been transfered')
                }
            }
        })
        // QC pass //

        //txtItemQRCode.change(function myfunction() {
        //    if ($.trim(txtItemQRCode.val()).length != 0) {
        //        fnQCPassData($.trim(txtItemQRCode.val()));
        //    }
        //    else {
        //        txtItemQRCode.val('');
        //        txtItemQRCode.focus();
        //    }
        //})


        //function fnQCPassData() {
        //    if (validateQRCodeInRepair() == true) {

        //        var info = { FloorId: TryParseInt(ddlProductionFloor.val(), 0), QCLineId: TryParseInt(ddlQCLine.val(), 0), RepairLineId: TryParseInt(ddlRepairLine.val(), 0), QRCode: txtItemQRCode.val(), AssemblyLineId: qrCodeDataObj.Assembly, DescriptionId: qrCodeDataObj.Model, ItemId: qrCodeDataObj.Item, ItemTypeId: qrCodeDataObj.ItemType, WarehouseId: qrCodeDataObj.Warehouse };

        //        var data = JSON.stringify({ model: info })
        //        console.log(data);
        //        //return console.log(data);

        //        $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/Production/SaveQRCodeWiseQcItemTransfer', data, getToken())).then(function (res, status) {
        //            console.log(res);
        //            if (res.isSuccess) {
        //                toastrSuccessAlert(execuStatus.successSave);
        //                txtItemQRCode.val('');
        //                txtItemQRCode.focus();
        //            }
        //            else {
        //                toastrErrorAlert(res.text);
        //            }
        //        }).fail(function (error) {
        //            console.log(error);
        //            toastrErrorAlert(execuStatus.fail);
        //        })
        //    }
        //    else {
        //        toastr.error("This IEMI may has been transfered", null, { timeOut: 2000 })
        //    }
        //}
        //QC Pass End



        txtProblemQRCode.change(function () {
            if ($.trim(txtProblemQRCode.val()) !== "") {
                var prob = jQuery.grep(problemsObj, function (item) {
                    return item.QRCode == $.trim(txtProblemQRCode.val());
                })
                if (prob.length > 0) {
                    if (!fnIsProbExist(prob)) {
                        fnProblemTblBind(prob);
                    }
                }
            }
            txtProblemQRCode.val('');
            txtProblemQRCode.focus();
        })

        function fnIsProbExist(prob) {
            var isExist = false;
            if ($("#tblProb tbody tr").length > 0) {
                $.each($("#tblProb tbody tr"), function (index, item) {
                    var probCode = $(this).children('td').eq(3).html();
                    if (prob[0].QRCode == probCode) {
                        isExist = true;
                    }
                })
            }
            return isExist;
        }

        function fnProblemTblBind(p) {
            if (!$.isEmptyObject(p)) {
                var cellNo = $("#tblProb tbody tr").length;
                var td1 = "<td class='text-center text-bold'>" + (cellNo + 1) + "</td>";
                var td2 = "<td>" + p[0].ProblemDescription + "</td>";
                var td3 = "<td class='text-center'><a href='#' class='btn btn-sm btn-flat btn-danger data-del-onfly'><i class='fas fa-trash'></i></a></td>";
                var td4 = "<td class='hide'>" + p[0].QRCode + "</td>";
                var tr = "<tr>" + td1 + td2 + td3 + td4 + "</tr>";
                $("#tblProb tbody").append(tr);
            }
        }

        $(document).on('click', 'a.data-del-onfly', function (e) {
            e.preventDefault();
            var index = $(this).parent().parents('tbody tr').index();
            removeTableRow("#tblProb tbody", index);
            fnFixTheTbodyRowSerial("#tblProb", index);
        })

        ddlProductionFloor.change(function () {
            clearDropdown("ddlRepairLine");
            clearDropdown("ddlQCLine");
            //clearDropdown("ddlSubQC");
            if (ddlProductionFloor.val() != "") {
                LoadDropDown('/Common/GetQCByLine', 'POST', ddlQCLine, JSON.stringify({ lineId: ddlProductionFloor.val() }));
                LoadDropDown('/Common/GetRepairLineByLine', 'POST', ddlRepairLine, JSON.stringify({ lineId: ddlProductionFloor.val() }));
            }
        })
        //ddlQCLine.change(function () {
        //    clearDropdown("ddlSubQC");
        //    if (ddlProductionFloor.val() != "" && ddlQCLine.val() != "") {
        //        LoadDropDown('/Common/GetSubQCByQCLine', 'POST', ddlSubQC, JSON.stringify({ qcline: ddlQCLine.val() }));
        //    }
        //})

        function fnProblemsData() {
            problemsObj.length = 0;
            $.when(postReqWithToken(null, dataType.json, type.post, '/Common/GetFaultyCasesListAsync', null, getToken())).then(function (res, status) {
                if (status === "success" && res.length > 0) {
                    problemsObj = res;
                }
            }).fail(function (error) {
                console.log(error);
            })
        }

        function validationForm() {
            var isValid = true;
            $(".error").addClass("hide");
            if (TryParseInt(ddlProductionFloor.val(), 0) <= 0) {
                $(".floor").removeClass("hide");
                isValid = false;
            }
            if (TryParseInt(ddlQCLine.val(), 0) <= 0) {
                $(".qc").removeClass("hide");
                isValid = false;
            }
            if (TryParseInt(ddlSubQC.val(), 0) <= 0) {
                $(".subqc").removeClass("hide");
                isValid = false;
            }
            if (TryParseInt(ddlRepairLine.val(), 0) <= 0) {
                $(".repair").removeClass("hide");
                isValid = false;
            }
            if ($.isEmptyObject(qrCodeDataObj) || qrCodeDataObj.Item <= 0) {
                $(".invalid-qrCode").removeClass("hide");
                isValid = false;
            }
            else {
                if (TryParseInt(ddlProductionFloor.val(), 0) > 0 && qrCodeDataObj.Floor != (TryParseInt(ddlProductionFloor.val(), 0))) {
                    $(".qc-not-for-pdn").removeClass("hide");
                    isValid = false;
                }
            }
            if ($("#tblProb tbody tr").length <= 0) {
                $(".prob-notFound").removeClass("hide");
                isValid = false;
            }
            if ($.trim(txtItemQRCode.val()) === "") {
                $(".qrCode").removeClass("hide");
                isValid = false;
            }
            else {
                if (ajaxBooleanChecker(JSON.stringify({ qrCode: txtItemQRCode.val() }), '/Common/IsExistInAssembly', getToken()) === false) {
                    $(".duplicate-QrCode").removeClass("hide");
                    isValid = false;
                    $("#tblProb tbody").empty();
                    txtItemQRCode.val('');
                    txtItemQRCode.focus();
                }
            }
            return isValid;
        }

        $("#btnSubmit").click(function (e) {
            e.preventDefault();

            if (validationForm()) {

                var info = { FloorId: TryParseInt(ddlProductionFloor.val(), 0), QCLineId: TryParseInt(ddlQCLine.val(), 0), SubQCId: TryParseInt(ddlSubQC.val(),0), RepairLineId: TryParseInt(ddlRepairLine.val(), 0), QRCode: txtItemQRCode.val(), AssemblyLineId: qrCodeDataObj.Assembly, DescriptionId: qrCodeDataObj.Model, ItemId: qrCodeDataObj.Item, ItemTypeId: qrCodeDataObj.ItemType, WarehouseId: qrCodeDataObj.Warehouse };

                var problems = []; problems.length = 0;
                $.each($("#tblProb tbody tr"), function (index, item) {
                    var tds = $(this).children('td');
                    problems.push({
                        ProblemId: TryParseInt(tds.eq(3).html(), 0),
                        ProblemName: tds.eq(1).html()
                    })
                })
                info.QRCodeProblems = problems;
                var data = JSON.stringify({ model: info })
                console.log("Info Data");
                console.log(data);
                //return;
                $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/Production/SaveQRCodeWiseQcItemTransfer', data, getToken())).then(function (res, status) {
                    console.log(res);
                    console.log(status);
                    console.log("res.IsSuccess");
                    console.log(res.IsSuccess);
                    if (res.IsSuccess === true) {
                        toastrSuccessAlert('Successful');
                        $("#tblProb tbody").empty();
                        txtItemQRCode.val('');
                        txtItemQRCode.focus();
                        if (problems.length > 0) {
                            LoadQCFailData();
                        }
                        else {
                            LoadQCPassData();
                        }


                    }
                    else {
                        bootbox.alert("This QrCode already has been transfered to Repair");
                    }
                }).fail(function (error) {
                    console.log(error);
                    bootbox.alert("Fail");
                })
            }
        })

        // QC Pass //
        function LoadQCPassData() {
            var data = { flag: "QCPass" };
            $.when(getReqWithData(dataType.html, type.get, '/Production/GetQRCodeScanningInQC', data)).then(function (res, status) {
                if (status === "success") {
                    $("#dataContainer2").fadeOut('500', function () {
                        $("#dataContainer2").empty();
                        $("#dataContainer2").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            })
        }

        // QC Fail //
        function LoadQCFailData() {
            var data = { flag: "QRCodes" };
            $.when(getReqWithData(dataType.html, type.get, '/Production/GetQRCodeScanningInQC', data)).then(function (res, status) {
                if (status === "success") {
                    $("#dataContainer1").fadeOut('500', function () {
                        $("#dataContainer1").empty();
                        $("#dataContainer1").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            })
        }
    </script>
}