
@{
    ViewBag.Title = "Excel";
    Layout = null;
}

<hr />
@using (Html.BeginForm("UploadExcel", "Inventory", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return myFunction()" }))
{
    <div class=" form-horizontal row">
        <div class="form-group col-sm-2">
            <label class="control-label"> Select File  :</label>
        </div>
        <div class="form-group col-sm-5">
            <input type="file" id="FileUpload" name="FileUpload" class="form-control FileUpload" />
        </div>
        <div class="col-sm-1"></div>
        <div class="form-group col-sm-3">
            <input type="submit" value="Upload" id="btnExcelSubmit" class="btn btn-primary form-control btnExcelSubmit" />
        </div>
    </div>
}
<hr />


