/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.hide {
    display: none;
}

.error {
    color: red;
    font-size: 10pt;
    font-weight: bold;
}

.error-border {
    border: 1px solid red !important;
}

.vertialHeader {
    vertical-align: middle !important;
}

.field-validation-error {
    text-align: left !important;
    font-size: small;
}

.bg-secondary {
    background-color: #6c757d;
}

.tabHead {
    padding: 5px 0px 5px 0px;
    background-color:#22293b;
    border-radius:5px;
    color:#fff;
}
/*.select2 {
    width: 100% !important;
}*/
