
@{
    ViewBag.Title = "Sells Report";
}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <h4>Sells Report</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                @Html.AntiForgeryToken()
                @using (Html.BeginForm("SellsReport", "ReportSS", FormMethod.Get, new { @target = "_blank" }))
                {
                    <div class="col-md-12">
                        <form method="get">
                            <div class="row text-sm">
                                <div class="col-md-2">
                                    <label class="control-label font-weight-bold">Invoice</label>
                                    <input type="text" id="txtInvoice" name="invoice" class="form-control form-control-sm" placeholder="Search By Invoice" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label font-weight-bold">Invoice Type</label>
                                    @Html.DropDownList("ddlInvoiceTypeStatus", (IEnumerable<SelectListItem>)ViewBag.ddlInvoiceTypeStatus, "--Search By Type--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger ctrl-changed" })
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label font-weight-bold">From Date</label>
                                    <div class="input-group input-group-sm ">
                                        <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" name="fromDate" />
                                        <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                            <span class="input-group-text">&#10008;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label font-weight-bold">To Date</label>
                                    <div class="input-group input-group-sm ">
                                        <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" name="toDate" />
                                        <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                            <span class="input-group-text">&#10008;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label for="rptType">Report Type</label>
                                    <select name="rptType" id="rptType" class="form-control form-control-sm">
                                        <option value="PDF">PDF</option>
                                        <option value="EXCEL">EXCEL</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label for="Download" style="visibility:hidden">Download</label>
                                    <button type="submit" title="Download Report" class="btn btn-sm btn-outline-success"><i class="fas fa-download"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 mt-3 text-sm" id="dataContainer">
                        @{Html.RenderAction("GetSellsReport", new { flag = "view" });}
                    </div>
                    <div class="modal fade" id="modalSellsDetails" role="dialog" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header alert-success" style="height:60px">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" id="hdfSellsDetailId" />
                                    <h4 id="modalHeading" class="modal-title">
                                        Invoice Details
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body" id="dataContainer1">

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var ddlInvoiceTypeStatus = $("#ddlInvoiceTypeStatus");
        var txtInvoice = $("#txtInvoice");
        var pageNo = 1;

        $(document).ready(function () {
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadDataTable();
                }
            }
        })
        dptFromDate.change(function () {
            LoadDataTable();
        })
        dptToDate.change(function () {
            LoadDataTable();
        })
        ddlInvoiceTypeStatus.change(function () {
            LoadDataTable();
        })
        txtInvoice.keyup(function () {
            LoadDataTable();
        })
        function LoadDataTable() {
            var data = {
                flag: "search", fromDate: dptFromDate.val(), toDate: dptToDate.val(), invoiceType: ddlInvoiceTypeStatus.val(), invoice: txtInvoice.val().trim(), page: pageNo
        };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/FrontDesk/GetSellsReport', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
                })
            pageNo = 1;
        }
        // Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                pageNo = $(this).attr('data-page-no');
                LoadDataTable();
            }
        })

        //$("#btnReport").click(function (e) {
        //    e.preventDefault();
        //    var data = JSON.stringify({ flag: "search", fromDate: dptFromDate.val(), toDate: dptToDate.val() });
        //    //return console.log(data)
        //    $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/ReportSS/SellsReport', data, getToken())).then(function (res, status) {
        //        console.log(res.IsSuccess);
        //        if (res.IsSuccess === true) {
        //            var pdfWindow = window.open("", "_blank")
        //            console.log(res.File);
        //            pdfWindow.document.write("<embed  width='100%' height='100%' src='" + res.File + "'></embed >"); // Preview
        //            download(res.File, res.FileName, "application/pdf"); // Download
        //        }
        //    }).fail(function (error) {
        //        console.log(error);
        //    })
        //})

        function OpenModal() {
            //clearCtr()
            $("#modalSellsDetails").modal("show");
            $("#dataContainer1").empty();
        }

        $(document).on("click", "a.data-item-details", function (e) {
            e.preventDefault();
            OpenModal()
            var data = {
                invoiceId: TryParseInt($(this).attr("data-item-details"), 0)
            };
           // return console.log(data);
            var idx = $(this).parent().parents('tr').index();
            $.when(getReqWithData('html', 'GET', '/FrontDesk/SellsDetails', data)).then(function (res, status) {
                if (status == "success") {
                    $("#dataContainer1").empty();
                    $("#dataContainer1").append(res);
                }
            }).fail(function (error) {
                console.log(error);
            })
            clearCtr()
        })
    </script>
}