
@{
    ViewBag.Title = "Receive Job";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <h4><b>Receive JobOrder</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                @Html.AntiForgeryToken()
                <div class="row text-sm">
                    <div class="col-md-2">
                        <label class="control-label font-weight-bold">BranchName</label>
                        @Html.DropDownList("ddlBranchName", (IEnumerable<SelectListItem>)ViewBag.ddlBranchName, "--Select Branch--", new { @class = "form-control form-control-sm ctrl-changed select2 select2-danger ctrl-changed" })
                        <span class="error hide require-branch font-weight-bold">Branch is required !</span>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label font-weight-bold">TransferCode</label>
                        <input type="text" id="txtTransferCode" class="form-control form-control-sm" placeholder="Search By Code" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label font-weight-bold">JobCode</label>
                        <input type="text" id="txtJobCode" class="form-control form-control-sm" placeholder="Search By JobCode" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label font-weight-bold">TransferStatus</label>
                        @Html.DropDownList("ddlTransferStatus", (IEnumerable<SelectListItem>)ViewBag.ddlTransferStatus, "--Search By Status--", new { @class = "form-control form-control-sm ctrl-changed " })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label font-weight-bold">From Date</label>
                        <div class="input-group input-group-sm ">
                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" name="fromDate" />
                            <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                <span class="input-group-text">&#10008;</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <label class="control-label font-weight-bold">To Date</label>
                        <div class="input-group input-group-sm ">
                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" name="toDate" />
                            <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                <span class="input-group-text">&#10008;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-sm text-sm" id="dataContainer" style="overflow-y:scroll">
                        @{Html.RenderAction("ReceiveJobOrder", new { @flag = "view" });}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var ddlBranchName = $("#ddlBranchName");
        var txtTransferCode = $("#txtTransferCode");
        var txtJobCode = $("#txtJobCode");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");
        var ddlTransferStatus = $("#ddlTransferStatus");

        $(document).ready(function () {

            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
        })

        $(document).on('click', 'div.remove-date', function () {
            if ($(this).hasClass("dptToDate")) {
                if (dptToDate.val() !== '') {
                    dptToDate.val('');
                    LoadDataTable();
                }
            }
            if ($(this).hasClass("dptFromDate")) {
                if (dptFromDate.val() !== '') {
                    dptFromDate.val('');
                    LoadDataTable();
                }
            }
        })

        txtJobCode.keyup(function () {
            LoadDataTable();
        })
        txtTransferCode.keyup(function () {
            LoadDataTable();
        })
        ddlBranchName.change(function () {
            LoadDataTable();
        })
        ddlTransferStatus.change(function () {
            LoadDataTable();
        })
        dptFromDate.change(function () {
            LoadDataTable();
        })
        dptToDate.change(function () {
            LoadDataTable();
        })
        function LoadDataTable() {
            var data = { flag: "search", branchName: TryParseInt(ddlBranchName.val(), 0), jobCode: txtJobCode.val(), transferCode: txtTransferCode.val(), fromDate: dptFromDate.val(), toDate: dptToDate.val(), tstatus: ddlTransferStatus.val() };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/FrontDesk/ReceiveJobOrder', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            });

        }

        $(document).on('click', '.data-item-received', function (e) {
            e.preventDefault();
            var id = $(this).attr("data-item-received");
            var jobId = $(this).parent().parent('tr').find('td:eq(3)').html();
            //alert(jobId);joborderId
            bootbox.confirm("Are you sure you want to Received This Job", function (result) {
                if (result) {
                    receivedJobOrder(id, jobId);
                }
            });
        })

        function receivedJobOrder(id, jobId) {
            var data = JSON.stringify({ transferId: id, jobOrderId: jobId });
            //return console.log(data);
            $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/FrontDesk/UpdateReceiveJob', data, getToken())).then(function (res, status) {
                if (res === true && status === "success") {
                    $('.toastrDefaultSuccess').trigger('click');
                    setTimeout(function () {
                            redirectPage('@Url.Action("ReceiveJobOrder")');
                    }, 1000);
                }
                else {
                    $('.toastrDefaultError').trigger('click');
                }
            }).fail(function (error) {
                console.log(error);
                $('.toastrDefaultError').trigger('click');
            });
        }

        function redirectPage(page) {
            window.location.replace(page);
        }
    </script>
    }