
@{
    ViewBag.Title = "Current Stock";
}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-4 text-left">
                        <a href="@Url.Action("GetCurrentStock","ReportSS",new {rptType="PDF" })" class="btn btn-sm btn-outline-danger data-report-item" title="Download Pdf Report">PDF</a>
                        <a href="@Url.Action("GetCurrentStock","ReportSS",new {rptType="EXCEL" })" class="btn btn-sm btn-outline-success data-report-item" title="Download Excel Report">EXCEL</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h4><b>Current Stock Report</b></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-sm" id="dataContainer">
                        @{Html.RenderAction("GetCurrentStockReport", new { @flag = "view" });}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var ddlMobilePart = $("#ddlMobilePart");
        var pageNo = 1;

        ddlMobilePart.change(function () {
            LoadDataTable();
        })

        function LoadDataTable() {
            var data = { page: pageNo };
            console.log(data);
            $.when(getReqWithData('html', 'GET', '/Configuration/GetCurrentStockReport', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            })
            pageNo = 1;
        }
        // Pagination
        $(document).on('click', 'a.page-link', function (e) {
            e.preventDefault();
            if (!$(this).hasClass('current-page')) {
                pageNo = $(this).attr('data-page-no');
                LoadDataTable();
            }
        })

        //Report
        //$("#btnReport").click(function (e) {
        //    e.preventDefault();
        //    var data = 0;
        //    //return console.log(data)
        //    $.when(postReqWithToken(dataType.applicationJson, dataType.json, type.post, '/ReportSS/GetCurrentStock', data, getToken())).then(function (res, status) {
        //        console.log(res.IsSuccess);
        //        if (res.IsSuccess === true) {
        //            var pdfWindow = window.open("", "_blank")
        //            console.log(res.File);
        //            pdfWindow.document.write("<embed  width='100%' height='100%' src='" + res.File + "'></embed >"); // Preview
        //            download(res.File, res.FileName, "application/pdf"); // Download
        //        }
        //    }).fail(function (error) {
        //        console.log(error);
        //    })
        //})
    </script>
}

