
@{
    ViewBag.Title = "Model To Model Transfer Details";
}
<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <a href="/Configuration/TransferInfoList" class="btn btn-sm btn-outline-primary float-left" title="Back To Summery"><i class="fas fa-arrow-alt-circle-left"></i></a>
                    </div>
                    <div class="col-md-6 text-center">
                        <h4><b>Model To Model Ex-Change Details</b></h4>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                @Html.AntiForgeryToken()
                <div class="row text-sm">
                    <div class="col-md-2">
                        <label for="ddlModels" class="control-label font-weight-bold">Model</label>
                        @Html.DropDownList("ddlModels", (IEnumerable<SelectListItem>)ViewBag.ddlModels, "--Select Model--", new { @class = "form-control form-control-sm select2" })
                    </div>
                    <div class="col-md-2">
                        <label for="ddlMobileParts" class="control-label font-weight-bold">Parts Name</label>
                        @Html.DropDownList("ddlMobileParts", (IEnumerable<SelectListItem>)ViewBag.ddlMobileParts, "--Select Parts--", new { @class = "form-control select2 form-control-sm" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label font-weight-bold">From Date</label>
                        <div class="input-group input-group-sm ">
                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptFromDate" />
                            <div class="input-group-prepend cursor-pointer remove-date dptFromDate" style="cursor:pointer">
                                <span class="input-group-text">&#10008;</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <label class="control-label font-weight-bold">To Date</label>
                        <div class="input-group input-group-sm ">
                            <input type="text" class="form-control form-control-sm date-datePicker ctrl-changed" id="dptToDate" />
                            <div class="input-group-prepend remove-date dptToDate" style="cursor:pointer">
                                <span class="input-group-text">&#10008;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mt-2 text-sm" id="dataContainer">
                        @{Html.RenderAction("GetModelToModelTransferDetailsList", new { flag = "view" });}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var ddlModels = $("#ddlModels");
        var ddlMobileParts = $("#ddlMobileParts");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");

        $(document).ready(function () {
            dptFromDate.prop('readonly', true);
            dptToDate.prop('readonly', true);
            dptFromDate.css("background-color", "#fff");
            dptToDate.css("background-color", "#fff");
            $('#dptFromDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('#dptToDate').datepicker({
                format: "dd MM yyyy",
                orientation: "bottom auto",
                todayHighlight: true,
                autoclose: true
            });
            $('.select2').select2();
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });
        })
        ddlModels.change(function () {
            LoadDataTable();
        })
        ddlMobileParts.change(function () {
            LoadDataTable();
        })
        dptFromDate.change(function () {
            LoadDataTable();
        })
        dptToDate.change(function () {
            LoadDataTable();
        })

        function LoadDataTable() {
            var data = { flag: "MToM", model: TryParseInt(ddlModels.val(), 0), parts: TryParseInt(ddlMobileParts.val()), fromDate: dptFromDate.val(), toDate: dptToDate.val() };
            console.log(data);
            $.when(getReqWithData('html', 'GET', '/Configuration/GetModelToModelTransferDetailsList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            })
        }
    </script>
    }